@font-face {
    font-family: "Purple Smile";
    src: url(./src/assets/fonts/Purple Smile.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background-color: #0690b264;
    display: flex;
    align-items: center;
    justify-content: center;
   
    flex-direction: column;
}

div{
    display: flex;
}

.placar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #af10d6bb;
    width: 60%;
    
}

.resultado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Purple Smile";
    font-size: 15px;
}

h1{
    display: flex;
    font-size: 50px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    font-family: "Purple Smile";
    color: rgba(8, 67, 244, 0.614);
}

.jogo{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    perspective: 1000px;
}

.cartao{
    width: calc(25% - 10px);
    height: calc(30% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.cartao:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.cartao.virado{
    transform: rotateY(180deg);
}

.frente-cartao, .verso-cartao {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #a91ccc3a;
    backface-visibility: hidden;
}

.frente-cartao{
    transform: rotateY(180deg);
} 

#recordes{
    margin-top: 30px;
    color: #191719bb;
    text-align: center;
    display: none;
    font-family: "Purple Smile";
}

td{
    border: 1px solid rgba(8, 67, 244, 0.614);
    text-align: center;
    width: 200px;
}

.reiniciar{
    font-size: 20px;
    width: 100%;
    border-radius: 10px;
    background-color: #9c76c5;
    color: white;
    margin-top: 10px;
    height: 35px;
}

.reiniciar:hover{
    font-size: 25px;
    color: white;
    background-color: rgba(8, 67, 244, 0.614);
}